{
    name: {{{name}}},
    {{#hasDescription}}
    description: {{{description}}},
    {{/hasDescription}}
    {{#hasArgs}}
    args: [
    {{#args}}
    {{> inputValue}},
    {{/args}}
    ],
    {{/hasArgs}}
    graphQLLocations: {{graphQLLocations}}
}
