{
    name: {{{name}}},
    {{#hasDescription}}
    description: {{description}},
    {{/hasDescription}}
    {{#hasDefaultValue}}
    defaultValue: {{defaultValue}},
    {{/hasDefaultValue}}
    type: {{#type}}{{> type}}{{/type}}
}