enumValues: [
{{#enumValues}}
        {
            name: {{{name}}},
            {{#hasDescription}}
            description: {{description}},
            {{/hasDescription}}
        }{{^last}},{{/last}}
{{/enumValues}}
],
