{{#type}}
type: {
        kind: {{kind}},
        {{#hasName}}
        name: {{{name}}},
        {{/hasName}}
        {{#hasOfType}}
        {{> schemaTypesFieldsTypeOfType}}
        {{/hasOfType}}
},
{{/type}}
