fields: [
{{#fields}}
        {
            name: {{{name}}},
            {{#hasDescription}}
            description: {{description}},
            {{/hasDescription}}
            {{> schemaTypesFieldsType}}
        }{{^last}},{{/last}}
{{/fields}}
],
