mutation introspection {
    __schema(
        types:  [
                {{#types}}
                {
                    name: {{name}},
                    kind: {{kind}},
                    description: {{description}},
                    fields: [
                            {{#fields}}
                            {
                                name: {{name}},
                                {{#description}}
                                description: {{description}},
                                {{/description}}
                                {{#type}}
                                type:   {
                                    kind: {{kind}},
                                    name: {{name}},
                                    {{#ofType}}
                                    ofType: {
                                        kind: {{kind}},
                                        name: {{name}},
                                        {{#ofType}}
                                        ofType: {
                                            kind: {{kind}},
                                            name: {{name}},
                                            {{#ofType}}
                                            ofType: {
                                                kind: {{kind}},
                                                name: {{name}},
                                                {{#ofType}}
                                                ofType: {
                                                    kind: {{kind}},
                                                    name: {{name}}
                                                }
                                                {{/ofType}}
                                            }
                                            {{/ofType}}
                                        }
                                        {{/ofType}}
                                    }
                                    {{/ofType}}
                                }
                                {{/type}}
                            },
                            {{/fields}}
                            ],
                    enumValues: [
                            {{#enumValues}}
                            {
                                name: {{name}},
                                description: {{description}}
                            },
                            {{/enumValues}}
                            ]
                    inputFields: [
                            {{#inputFields}}
                            {
                                name: {{name}},
                                description: {{description}},
                                defaultValue: {{defaultValue}},
                                {{#type}}
                                type:   {
                                    kind: {{kind}},
                                    name: {{name}},
                                    {{#ofType}}
                                    ofType: {
                                        kind: {{kind}},
                                        name: {{name}},
                                        {{#ofType}}
                                            ofType: {
                                            kind: {{kind}},
                                            name: {{name}},
                                            {{#ofType}}
                                                ofType: {
                                                kind: {{kind}},
                                                name: {{name}},
                                                {{#ofType}}
                                                    ofType: {
                                                    kind: {{kind}},
                                                    name: {{name}}
                                                    }
                                                {{/ofType}}
                                                }
                                            {{/ofType}}
                                            }
                                        {{/ofType}}
                                        }
                                    {{/ofType}}
                                    }
                                {{/type}}
                            },
                            {{/inputFields}}
                            ]
                },
                {{/types}}
                ]
    ){
        types{
            name
        }
    }
}
