mutation introspection {
    __schema(
        types:{{{types}}}
{{#hasQueryType}}
        ,queryType: {{{queryType}}},
{{/hasQueryType}}
{{#hasMutationType}}
        ,mutationType: {{{mutationType}}},
{{/hasMutationType}}
{{#hasSubscriptionType}}
        ,subscriptionType: {{{subscriptionType}}}
{{/hasSubscriptionType}}
{{#hasDirectives}}
        ,directives: {{{directives}}}
{{/hasDirectives}}
    ){
        types{
            name
        }
    }
}
